{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div>
        <h2>Reservation details</h2>
    </div>

    <hr>
    <div>
        {% for reservation in reservation_list %}
        <div>
            <h5>{{reservation.user}} has booked a table for:</h5>
        </div>
        <div>
            <h5>Number of people: {{reservation.guests}} </h5>
        </div>
        <div>
            <h5>Date: {{reservation.booking_date}} </h5>
        </div>
        <div>
            <h5>Time {{reservation.booking_time}}</h5>
        </div>
        <div>
            <a class="btn-outline-secondary btn mt-3" href="{% url 'edit_reservation' reservation.id %}">
                <h5>Edit reservation </h5>
            </a>
        </div>
        <div>
            <a class="btn-outline-secondary btn mt-3" href="{% url 'cancel_reservation' reservation.id %}">
                <h5>Cancel reservation </h5>
            </a>
        </div>
        <hr>
        <hr>
        {% endfor %}
    </div>
    <div class="m-3">
        <a class="btn btn-outline-secondary" href="{% url 'home' %}">
            <h5>Home</h5>
        </a>
    </div>
</div>



{% endblock %}