{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>About Us</h2>
            <p>Arabista restaurant is a delightful dining establishment that specializes in serving
                authentic Middle Eastern cuisine,
                including the ever-popular falafel. Located in Dublin, it offers a warm and
                inviting ambiance, reflecting the
                rich cultural heritage of the region.</p>
        </div>
        <div class="col-md-4">
            <h2>Our Menu</h2>
            <p>
                Welcome to Arabista. Our menu is an enticing blend of authentic flavors and modern twists, crafted to
                offer your taste buds on an unforgettable experience. From aromatic herbs to sumptuous spices, we invite
                you to savor the rich tapestry of Lebanese
                cuisine.
            </p>
            <a class=" btn btn-success mb-2" href="{% url 'menu' %}" class="dropdown-item">Our
                Menu</a>
        </div>
        <div class="col-md-4">
            <h2>Serving hours</h2>
            <p>Arabista serves food from 10:00 am until 10:00 pm. Please contact us if you need a table for more than 5
                people. </p>
            <a class=" btn btn-success mb-2" href="#contact">Contact</a>
        </div>
    </div>
</section>
{% endblock %}