{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>About Us</h2>
            <p>Arabista restaurant is a delightful dining establishment that specializes in serving
                authentic Middle Eastern cuisine,
                including the ever-popular falafel. Located in Dublin, it offers a warm and
                inviting ambiance, reflecting the
                rich cultural heritage of the region.</p>
        </div>
        <div class="col-md-4">
            <h2>Our Menu</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, exercitationem.</p>
        </div>
        <div class="col-md-4">
            <h2>Contact</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, exercitationem.</p>
        </div>
    </div>
</section>
{% endblock %}