.card {
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    border: 0;
    border-radius: 1rem;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .12)
}

.mar-top {
    margin: 500px;


}

.card-width {
    width: 18rem;
}

.extra-margin {
    margin-bottom: 6rem;
}

h1 {
    font-size: 300%;
}

body {
    font-family: 'Lato';
}

.header-bg {
    background: url('https: //res.cloudinary.com/dayz1hfom/image/upload/v1687527295/bg-image_tw5clo.jpg') no-repeat center center fixed;
    height: calc(100vh - 164px);
    background-size: cover;
    background-position: center;

}

.text-black {
    color: black;
    font-weight: 200;
    text-shadow: 1px 1px 2px rgba(255, 255, 255);
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: rgb(50, 50, 50)
}

.allauth-form-inner-content input {
    border-color: rgb(50, 50, 50);
    border-radius: 10px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: rgb(50, 50, 50)
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    display: inline-block;
}

@media screen and (max-width: 1200px) {
    .allauth-form-inner-content .card-width {
        width: 18rem;
    }
}

@media screen and (max-width: 780px) {
    .allauth-form-inner-content .card-width {
        width: 100%;
        margin: auto;
    }

    .allauth-form-inner-content h1 {
        font-size: 200%;
    }

    .allauth-form-inner-content h2 {
        font-size: 125%;
    }

    .allauth-form-inner-content .main-header {
        padding-top: 200%;
    }
}