{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="head-p">
    <h2 class="text-center font-weight-bold pt-3">Welcome to Our Menu</h2>
</div>
<div class="container">
    <hr class="extra-margin">
    <div class="row">
        {% for meal in meals %}
        <div class="col-lg-4 col-md-6 col-sm-8 extra-margin ">
            <div class="card h-100 border-0 card-width mx-auto">
                <img class="card-img-top img-fluid img-height" src="{{ meal.image.url }}" alt="{{ meal.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{meal}}</h5>
                    <p class="card-text">Price: $ {{ meal.price }}</p>
                    <a href="{% url 'meal_detail' meal.id %}"><button class="btn btn-success">More
                            details</button></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}